---
layout: default
---

<div class="post">
    
    <h1 class="post-title">{{ page.title }}</h1>
    <span class="post-date">{{ page.date | date_to_string }} | {{ page.geo_address }}</span>
    
    {% if page.thumbnail != null %}
    <figure>
        <img src="{{ page.thumbnail }}_b.jpg" alt="{{ page.thumbnail_alt }}" title="{{ page.thumbnail_alt }}" label="{{ page.thumbnail_alt }}" />
        <figcaption>{{ page.thumbnail_alt }}</figcaption>
    </figure>
    {% endif %}
    
    {{ content }}
    
    <h5 class="post-author">&mdash; {{ page.author }}</h5>
    
</div>

{% assign categories = '' %}
{% for post in site.posts %}
    {% if post.url == page.url %}
        {% assign categories = post.categories %}
    {% endif %}
{% endfor %}

{% assign total = '0' %}
{% assign item = '0' %}
{% for post in site.posts reversed %}
    {% if post.categories == page.categories %}
		{% if post.url == page.url %}
            {% capture item %}{{ total }}{% endcapture %}
		{% endif %}
	{% endif %}
{% endfor %}

{% comment %} 
<div class="related">
    <h2>Related Posts</h2>
    <ul class="related-posts">
    {% assign total = '0' %}
    {% for post in site.posts reversed %}
        {% if post.categories == page.categories %}
            {% if page.url != post.url %}
            <li>
                <h3><a href="{{ post.url }}">{{ post.title }} <small>{{ post.date | date_to_string }}</small></a></h3>
            </li>
            {% endif %}
        {% endif %}
	{% endfor %}
	</ul>
</div>
{% endcomment %}